<stv-select [value]="modelType" (valueChanged)="onModelTypeChanged($event)" class="model-type-selector">
    <div data-value="fromFile">From file</div>
    <div data-value="tianJi">Tian Ji</div>
    <div data-value="castles">Castles</div>
    <div data-value="bridgeEndplay">Bridge Endplay</div>
    <div data-value="drones">Drones</div>
    <div data-value="simpleVoting">Simple Voting</div>
</stv-select>
<div class="model-parameters-container">
    <router-outlet name="verification-model-parameters"></router-outlet>
</div>
<div class="actions-container">
    <div class="row">
        <button class="theme col-12" (click)="onGenerateClick()" [disabled]="!canGenerate"><span>Generate</span></button>
    </div>
    
    <h4>Formula to be verified</h4>
    <code class="formula">{{formula || "(unknown)"}}</code>
    
    <h4>Verification - approximation</h4>
    <div class="row">
        <button class="theme col-6" (click)="onLowerApproximationClick()" [disabled]="!canVerify"><span>Lower approx.</span></button>
        <button class="theme col-6" (click)="onUpperApproximationClick()" [disabled]="!canVerify"><span>Upper approx.</span></button>
    </div>
    
    <h4>Verification - Domino DFS</h4>

    <div class="row">
        <stv-select class="domino-dfs-heuristic-selector col-12" [value]="dominoDfsHeuristic" (valueChanged)="onDominoDfsHeuristicChanged($event)" #dominoDfsHeuristicSelector>
            <div data-value="basic">Basic heuristic</div>
            <div data-value="control">Control heuristic</div>
            <div data-value="epistemic">Epistemic heuristic</div>
            <div data-value="visitedStates">Visited states heuristic</div>
        </stv-select>
    </div>
    <div class="row">
        <button class="theme col-12" (click)="onDominoDfsClick()" [disabled]="!canVerify"><span>Domino DFS</span></button>
    </div>
</div>