<div class="container">
    <div class="sidebar-tabs" #sidebarTabs>
        <ul>
            <li class="active" data-sidebar-tab-button-id="generate" (click)="onTabClick($event)">Generate</li>
            <li data-sidebar-tab-button-id="verify" (click)="onTabClick($event)">Verify</li>
            <li data-sidebar-tab-button-id="details" (click)="onTabClick($event)">Details</li>
        </ul>
    </div>
    <div class="upper-container" data-sidebar-selected-tab-id="generate" #upperContainer>
        <div class="mode-selector-container" data-sidebar-tab-id="generate">
            <stv-mode-selector></stv-mode-selector>
        </div>
        <ng-content></ng-content>
        <div data-sidebar-tab-id="details">
        </div>
    </div>
    <stv-splitter class="horizontal"></stv-splitter>
    <stv-view-settings></stv-view-settings>
</div>
