<h4>Parameters</h4>
<div class="form">
    <label for="castles-parameters--castle-1-size"><span>Castle 1 size</span>:</label>
    <input type="number" id="castles-parameters--castle-1-size" [min]="minCastle1Size" [max]="maxCastle1Size" value="1" step="1" (input)="onCastle1SizeInput($event)" (blur)="onCastle1SizeBlur($event)" />
    <label for="castles-parameters--castle-2-size"><span>Castle 2 size</span>:</label>
    <input type="number" id="castles-parameters--castle-2-size" [min]="minCastle2Size" [max]="maxCastle2Size" value="1" step="1" (input)="onCastle2SizeInput($event)" (blur)="onCastle2SizeBlur($event)" />
    <label for="castles-parameters--castle-3-size"><span>Castle 3 size</span>:</label>
    <input type="number" id="castles-parameters--castle-3-size" [min]="minCastle3Size" [max]="maxCastle3Size" value="1" step="1" (input)="onCastle3SizeInput($event)" (blur)="onCastle3SizeBlur($event)" />
    <label for="castles-parameters--life"><span>Life</span>:</label>
    <input type="number" id="castles-parameters--life" [min]="minLife" [max]="maxLife" value="1" step="1"  (input)="onLifeInput($event)" (blur)="onLifeBlur($event)" />
</div>
