<div class="container">
    <div class="checkboxes">
        <label class="custom-checkbox">
            <input type="checkbox" [checked]="allStateLabelsShown" (change)="onShowAllStateLabelsChanged($event)" />
            <span class="checkbox-tick-wrapper">
                <i class="fa fa-check checkbox-tick"></i>
            </span>
            <span class="checkbox-text">Show all state labels</span>
        </label>
        <label class="custom-checkbox">
            <input type="checkbox" [checked]="allActionLabelsShown" (change)="onShowAllActionLabelsChanged($event)" />
            <span class="checkbox-tick-wrapper">
                <i class="fa fa-check checkbox-tick"></i>
            </span>
            <span class="checkbox-text">Show all actions</span>
        </label>
    </div>

    <div class="checkboxes">
        <label class="custom-checkbox" *ngFor="let label of stateLabels; let i = index">
            <input type="checkbox" [checked]="label.display" (change)="onSingleStateLabelChanged(i,$event)"/>
            <span class="checkbox-tick-wrapper">
                <i class="fa fa-check checkbox-tick"></i>
            </span>
            <span class="checkbox-text">{{label.name}}</span>
        </label>
    </div>

    <div class="checkboxes">
        <label class="custom-checkbox" *ngFor="let alabel of actionLabels; let i = index">
            <input type="checkbox" [checked]="alabel.display" (change)="onSingleActionLabelChanged(i,$event)"/>
            <span class="checkbox-tick-wrapper">
                <i class="fa fa-check checkbox-tick"></i>
            </span>
            <span class="checkbox-text">{{alabel.name}}</span>
        </label>
    </div>
    
    <div class="zoom-controls">
        <button title="Zoom out" (click)="onZoomOutClick()"><i class="fa fa-minus"></i></button>
        <button title="Zoom in" (click)="onZoomInClick()"><i class="fa fa-plus"></i></button>
        <button title="Zoom to fit" (click)="onZoomToFitClick()"><i class="fa fa-expand-arrows-alt"></i></button>
    </div>
</div>