<div class="container">
    <div class="checkboxes">
        <label class="custom-checkbox">
            <input type="checkbox" [checked]="showStateLabels" (change)="onShowStateLabelsChanged()" />
            <span class="checkbox-tick-wrapper">
                <i class="fa fa-check checkbox-tick"></i>
            </span>
            <span class="checkbox-text">Show state labels</span>
        </label>
        <label class="custom-checkbox">
            <input type="checkbox" [checked]="showActions" (change)="onShowActionsChanged()" />
            <span class="checkbox-tick-wrapper">
                <i class="fa fa-check checkbox-tick"></i>
            </span>
            <span class="checkbox-text">Show actions</span>
        </label>
    </div>

    <div class="zoom-controls">
        <button title="Zoom out" (click)="onZoomOutClick()" [disabled]="!canZoomOut"><i class="fa fa-minus"></i></button>
        <button title="Zoom in" (click)="onZoomInClick()" [disabled]="!canZoomIn"><i class="fa fa-plus"></i></button>
        <button title="Zoom to fit" (click)="onZoomToFitClick()"><i class="fas fa-expand-arrows-alt"></i></button>
    </div>
</div>