<div class="model-parameters-container first-in-tab-context" data-sidebar-tab-id="generate">
    <h4>Model 1 file</h4>
    <div class="form">
        <stv-file-input id="model1-file" class="full-width-input" (fileListChanged)="onModel1FileListChanged($event)" #model1FileInput></stv-file-input>
    </div>
    <h4>Model 2 file</h4>
    <div class="form">
        <stv-file-input id="model2-file" class="full-width-input" (fileListChanged)="onModel2FileListChanged($event)" #model2FileInput></stv-file-input>
    </div>
</div>

<div class="actions-container" data-sidebar-tab-id="generate">
    <div class="row">
        <button class="theme col-12" (click)="onGenerateClick()" [disabled]="!canGenerate"><span>Generate</span></button>
    </div>
</div>

<div class="model-parameters-container" data-sidebar-tab-id="generate">
    <h4>Bisimulation specification file</h4>
    <div class="form">
        <stv-file-input id="bisimulation-specification-file" class="full-width-input" (fileListChanged)="onBisimulationSpecificationFileListChanged($event)" #bisimulationSpecificationFileInput></stv-file-input>
    </div>
</div>

<div class="actions-container" data-sidebar-tab-id="generate">
    <div class="row">
        <button class="theme col-12" (click)="onCheckClick()" [disabled]="!canCheck"><span>Check</span></button>
    </div>
    
    <h4>Coalition A</h4>
    <code class="coalition-A">{{coalitionA || "(unknown)"}}</code>
</div>

<div class="actions-container first-in-tab-context" data-sidebar-tab-id="verify">
    <h3 style="margin-top: 0">Left model</h3>
    
    <h4>Formula to be verified</h4>
    <code class="formula">{{leftFormula || "(unknown)"}}</code>
    
    <h4>Verification - approximation</h4>
    <div class="row">
        <button class="theme col-6" (click)="onLeftLowerApproximationClick()" [disabled]="!canVerifyLeft"><span>Lower approx.</span></button>
        <button class="theme col-6" (click)="onLeftUpperApproximationClick()" [disabled]="!canVerifyLeft"><span>Upper approx.</span></button>
    </div>
    
    <h4>Verification - Domino DFS</h4>

    <div class="row">
        <stv-select class="domino-dfs-heuristic-selector col-12" [value]="leftDominoDfsHeuristic" (valueChanged)="onLeftDominoDfsHeuristicChanged($event)" #dominoDfsHeuristicSelector>
            <div data-value="basic">Basic heuristic</div>
            <div data-value="control">Control heuristic</div>
            <div data-value="epistemic">Epistemic heuristic</div>
            <div data-value="visitedStates">Visited states heuristic</div>
        </stv-select>
    </div>
    <div class="row">
        <button class="theme col-12" (click)="onLeftDominoDfsClick()" [disabled]="!canVerifyLeft"><span>Domino DFS</span></button>
    </div>
</div>

<div class="actions-container" data-sidebar-tab-id="verify">
    <h3>Right model</h3>
    
    <h4>Formula to be verified</h4>
    <code class="formula">{{rightFormula || "(unknown)"}}</code>
    
    <h4>Verification - approximation</h4>
    <div class="row">
        <button class="theme col-6" (click)="onRightLowerApproximationClick()" [disabled]="!canVerifyRight"><span>Lower approx.</span></button>
        <button class="theme col-6" (click)="onRightUpperApproximationClick()" [disabled]="!canVerifyRight"><span>Upper approx.</span></button>
    </div>
    
    <h4>Verification - Domino DFS</h4>

    <div class="row">
        <stv-select class="domino-dfs-heuristic-selector col-12" [value]="rightDominoDfsHeuristic" (valueChanged)="onRightDominoDfsHeuristicChanged($event)" #dominoDfsHeuristicSelector>
            <div data-value="basic">Basic heuristic</div>
            <div data-value="control">Control heuristic</div>
            <div data-value="epistemic">Epistemic heuristic</div>
            <div data-value="visitedStates">Visited states heuristic</div>
        </stv-select>
    </div>
    <div class="row">
        <button class="theme col-12" (click)="onRightDominoDfsClick()" [disabled]="!canVerifyRight"><span>Domino DFS</span></button>
    </div>
</div>